<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
     <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2>Create Chat:</h2>
    <form action="/chats" method="post">
        <input type="text" name="from" id="" placeholder="From:">
        <br><br>
        <input type="text" name="to" id="" placeholder="To:">
        <br><br>
        <textarea name="msg" rows="10" cols="35" placeholder="Message:"></textarea>
        <br><br>
        <button>Submit Chat</button>
    </form>
</body>
</html>