<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Create Post</h2>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="Enter your username">
        <br><br>
        <textarea name="content" rows="10" cols="35"></textarea>
        <br><br>
        <button class="post_submit_btn">Submit Post</button>
    </form>
</body>
</html>