<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" placeholder="enter your usename" name="username"><br><br>
        <textarea name="content" id="" rows="10" cols="35"></textarea><br><br>
        <!-- to have moer space we used textarea instead of input -->
         <button>Submit Post</button>
    </form>
</body>
</html>