<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>Delete user</h2>
    <h3>To delete user account enter details:</h3>
    <form action="/user/<%=id%>?_method=DELETE" method="post">
        <input type="email" name="email" placeholder="Enter your Email" id="">
        <br><br>
        <input type="password" name="password" placeholder="Enter your Password" id="">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>